.navbar {
    display: flex;
    justify-content: center;
    /* Navbarı yatay eksende ortalar */
    align-items: center;
    /* Navbarı dikey eksende ortalar */
    background-color: white;
}

.airbnb-logo {
    display: flex;
    margin-left: 70px;
    margin-top: 15px;
}

.airbnb-logo svg {
    width: 35px;
    height: 35px;
}

.nav-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 140px;

}

.nav-buttons {
    border: none;
    font-size: 15px;
    background-color: transparent;

}

.nav-buttons:hover {
    background-color: rgb(242, 238, 238);
    border-radius: 25px;
    height: 40px;
    gap: 20px;

}

.nav-buttons.active:hover {
    background: none;
}

.nav-right {
    display: flex;
    gap: 20px;
    margin-right: 90px;
}

.menu {
    display: none;
    /* Başlangıçta menüyü gizle */
    list-style: none;
    /* Noktalı liste işaretlerini gizle */
    background-color: white;
    border-radius: 50px;
    border-color: #a29f9f;

}

.menu a {
    text-decoration: none;
    color: #000000;
}

.menu li {
    margin: 10px;
}

.menu1 {
    border-radius: 40px;
    border-color: #ece6e6;

}

.menu-toggle {
    cursor: pointer;
    /* İkona tıklanabilir bir imleç ver */
}

.menu-toggle:hover+.menu {
    display: block;
    /* Menü açılacak */
    position: absolute;
    /* Menüyü konteynırın üstüne yerleştir */
    top: 70%;
    /* Menüyü butonun altına yerleştir */
    right: 80px;
}

.search-parttwo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d4d1d1;
    /* Çizgi rengi ve kalınlığı */
    border-radius: 30px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    /* xOffset, yOffset, blurRadius, spreadRadius, shadowColor */
    margin-left: 60px;
    height: 50px;
}

.search-parttwo p {
    font-size: 14px;
    margin: 15px;
}

.search-part {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid #dbd8d8;
    /* Kenar çizgisi */
    cursor: pointer;
    margin-top: 80px;

    box-shadow: 1px 2px 2px 1px rgba(200, 197, 197, 0.5);
}


.parts {
    font-size: 14px;
    display: inline-table;
    border-radius: 40px;
    border: none;
    /* Kenar çizgisi */
    cursor: pointer;
    width: max-content;
    height: max-content;

}

.parts p {
    color: rgb(71, 69, 69);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parts:hover {
    background-color: rgb(230, 228, 228);
    border-radius: 40px;
    cursor: pointer;
    border: none;
    /* Kenar çizgisi */
}

.images-two img {
    width: 900px;
    height: 300px;
    border-radius: 10px;

}

.search-button {
    background-color: #ff4f4f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.search-button svg {
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters p {
    color: rgb(144, 140, 140);
    font-weight: 500;
    font-size: 12px;
    margin-top: 10px;
    width: max-content;
}

.filters {
    text-decoration: none;
    cursor: pointer;
}


.filters svg {
    width: 20px;
    height: 20px;
}


.next-button {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #a29f9f;
    /* Kenar çizgisi */

}

.next-button:hover {
    box-shadow: 2px 4px 12px 2px rgba(200, 197, 197, 0.5);
}

.next-button svg {
    width: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 12px;
    border: 1px solid #dbd8d8;
    /* Kenar çizgisi */
    width: max-content;
    padding: 0 17px;
    height: 50px;
}

.left-button:hover {
    border-color: black;
    background-color: rgb(248, 247, 247);
}

.filters-button {
    gap: 20px;
    display: flex;
}

.information p {
    margin-bottom: 3px;
    font-size: 15px;
    color: #535050;
}

.places-item {
    display: flex;
    gap: 25px;
}

.places-box img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.places-box h5 {
    font-size: 15px;
    color: #000000;
    transition: linear .2s color;
}

.suggested {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    height: 27px;
    width: 145px;
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 14px;
}

.heart-icon-button {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: linear .2s all;

}

.heart-icon-button:hover svg path {
    fill: white;
}

.head {
    display: flex;
    justify-content: space-between;
    /* Başlık ve link arasındaki boşluğu maksimuma çıkarır */
    align-items: center;
    /* İçerikleri dikeyde ortalar */
}

.head-two {
    margin: 0;
    /* Başlık kenar boşlukları kaldırır */
}

.link-and-icon a {
    color: #000000;
    font-size: 15px;
}

.link-and-icon svg {
    width: 16px;
    margin-right: 10px;
}

.two-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    display: block;
    width: 100%;
    /* Çizginin genişliği */
    height: 0.5px;
    /* Çizginin kalınlığı */
    margin-top: 20px;
    background-color: #e1dede;
    /* Çizgi rengi */
}

.right-two {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    gap: 30px;
    border: 1px solid #d4d1d1;
    /* Çizgi rengi ve kalınlığı */
    border-radius: 12px;
    padding: 15px;

}

.right-two p {
    font-size: 17px;
    font-weight: bold;
}

.manor p {
    margin: 0;
}
.right-column{
    display: flex;
    flex-direction:column;
}
.right-four svg{
    width:20px;
}
.right-four p{
    font-size:14px;
}
.right-four-triple{
    display:flex; 
}
.right-four{
    margin-top:20px;
}
.right-six svg{
    width:20px;
}

